body{
    background-color: #c8c5b6;
}
h1{
    color: #0b9ead;
    font-family: 'Aldrich', sans-serif;
    font-size: 50px;
    text-align: left;
    margin: 50px;
    
}
h2{
    color: #d3614b;
    font-family: 'Electrolize', sans-serif;
    font-size: 30px;
    text-align: left;
    margin: 50px;
    
}

#iconuser{
    color: #0b9ead;
}

#FormCrear{
    background-color: #e5e1cd;
    width: 1050px;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
}
#ListaEquipos{
    background-color: #e5e1cd;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    
}
#Lista{
   border-color: #c8c5b6;
   border: 3px solid #c8c5b6;
}
th{
    font-family: 'Aldrich', sans-serif;
    color: #0b9ead;
    font-size: 20px;
}

td{
    font-family: 'Electrolize', sans-serif;
    color: #6a644d;
    font-size: 15px;

}
#MenuPrincipal:hover{
    background-color: #6a644d;
    width: 200px;
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;
    text-align: left;
    border: 3px solid #e5e1cd;
}
#MenuPrincipal{
    background-color: #e5e1cd;
    width: 200px;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    text-align: left;
    border: 3px solid #6a644d;
}

#btncrear{
    background-color: #6a644d;
    width: 250px;
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;
    text-align: left;
    border: 3px solid #c8c5b6;
}
#btncrear:hover{
    background-color: #e5e1cd;
    width: 250px;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    text-align: left;
    border: 3px solid #6a644d;
}

#btncrear2{
    background-color: #6a644d;
    width: 100px;
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;
    text-align: left;
    border: 3px solid #c8c5b6;
}
#btncrear2:hover{
    background-color: #e5e1cd;
    width: 100px;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    text-align: left;
    border: 3px solid #6a644d;
}

#btncrear3:hover{
    background-color: #d3614b;
    width: 220px;
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;
    text-align: left;
    border: 3px solid #c8c5b6;
}
#btncrear3{
    background-color: #e5e1cd;
    width: 220px;
    font-family: 'Aldrich', sans-serif;
    color: #d3614b;
    text-align: left;
    border: 3px solid #6a644d;
}

#btnmod{
    background-color: #e5e1cd;
    width: 40px;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    text-align: center;
    border: 2px solid #6a644d;
}
#btnmod:hover{
    background-color: #6a644d;
    width: 40px;
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;
    text-align: center;
    border: 2px solid #c8c5b6;

}

#paginacion{
    background-color: #c8c5b6;
    border: 3px solid #c8c5b6;
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;

}

.page-item{
    border: 2px solid #c8c5b6;
    background-color: #6a644d;
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;

}
.page-item:active{
    border: 2px solid #c8c5b6;
    background-color: #e5e1cd;
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;

}
.page-link{
    
    background-color: #6a644d;
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;

}
.page-item.active .page-link{
  
    background-color: #e5e1cd;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;

}


.page-item.disabled .page-link {
    border: 2px solid #6a644d;
    background-color: #e5e1cd;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
}
.page-link:hover{
    background-color: #e5e1cd;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;

}

#int{
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    font-size: 15px;
    border: 3px solid #6a644d;
    background-color: #c8c5b6;
}

#barra{
    background-color: #e5e1cd;
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;
}
#barra2{
    background-color: #e5e1cd;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
}
#logout{
    background-color: #e5e1cd;
    font-family: 'Aldrich', sans-serif;
    color: #d3614b;
}

#msg{
    font-family: 'Aldrich', sans-serif;
}

#int2{
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    font-size: 15px;
    border: 3px solid #6a644d;
    background-color: #e5e1cd;
}
#int3{
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
}


/*Usuario*/

#ListaUS{
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    font-size: 15px;
    border-color: #e5e1cd;
    text-align: center;
    
 }

 #ListaEquiposUS{
    background-color: #c8c5b6;
    font-family: 'Aldrich', sans-serif;
    font-size: 15px;
    border: 3px solid #6a644d;
    
}

#ListaUS2{
    font-family: 'Aldrich', sans-serif;
    color: #0b9ead;
    font-size: 15px;
    border-color: #e5e1cd;
    text-align: center;
   
 }

 #ListaUS3{
    background-color: #c8c5b6;
    font-family: 'Aldrich', sans-serif;
    color: #0b9ead;
    font-size: 15px;
    border-color: #e5e1cd;
   
    
 }

 #btncrearR{
    background-color: #c8c5b6;
    width: 220px;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    text-align: left;
    align-items: right;
    justify-content: right;
    border: 3px solid #6a644d;
}

 #btncrearR:hover{
    background-color: #6a644d;
    color: #e5e1cd;
    width: 220px;
    font-family: 'Aldrich', sans-serif;
    border: 3px solid #e5e1cd;
    text-align: left;
    align-items: right;
    justify-content: right;
    
}

#ListaUSD{
    font-family: 'Aldrich', sans-serif;
    color: #d3614b;
    font-size: 15px;
    border-color: #e5e1cd;
    text-align: center;
    
 }


 #btnmodHV{
    background-color: #e5e1cd;
    width: 150px;
    font-size: 13px;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    text-align: left;
    border: 2px solid #6a644d;
}
#btnmodHV:hover{
    background-color: #6a644d;
    width: 150px;
    font-size: 13px;
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;
    text-align: left;
    border: 2px solid #c8c5b6;

}

#btncrear2HV{
    background-color: #6a644d;
    width: 150px;
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;
    text-align: left;
    border: 3px solid #c8c5b6;
}
#btncrear2HV:hover{
    background-color: #e5e1cd;
    width: 150px;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    text-align: left;
    border: 3px solid #6a644d;
}

#MenuLogo{
    color: #6a644d;
   justify-content: left;
    font-size: 300px;
}


.layout{

    width: 1200px;
    height: 750px;

    display: grid;
    grid: "a b" 1fr / 1fr 1fr;
    gap:8px;

}

    .a{grid-area: a;}
    .b{grid-area: b;}


 #pdf{
    width: 1200px;
 }

 h3{
    color: #0b9ead;
    font-family: 'Aldrich', sans-serif;
    font-size: 12px;
    text-align: left;
    
}

.layout2{

    width: 1000px;
    height: 400px;
    

    display: flex;
    
   
    gap:100px;

    justify-content: center;
    align-items: center;

}
    .A{flex-grow: 1;}

    /*.A{grid-area: A;}
    .A{grid-area: B;}*/

    

/*body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e1cd;
    width: 100%;
   
}

#Formlogin{
    width: 400px;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    font-size: 15px;
    text-align: left;
    margin: 10px;
   
}

#Formregister{
    width: 400px;
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    font-size: 15px;
    text-align: left;
    margin: 10px;
    
    
   
}

h1{
    color: #0b9ead;
    font-family: 'Aldrich', sans-serif;
    font-size: 50px;
    text-align: left;
    margin: 50px;
    
}
#usertxt{
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    font-size: 15px;
    border: 3px solid #6a644d;
    background-color: #c8c5b6;
}
#logintxt{
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    font-size: 15px;
    border: 3px solid #6a644d;
    background-color: #c8c5b6;
}

#btncrear:hover{
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;
    margin-top: 10px;
    font-size: 15px;
    border: 3px solid #c8c5b6;
    background-color: #6a644d;
}
#btncrear{
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    margin-top: 10px;
    font-size: 15px;
    border: 3px solid #6a644d;
    background-color: #e5e1cd;
}
#btnlogin:hover{
    font-family: 'Aldrich', sans-serif;
    color: #e5e1cd;
    margin-top: 10px;
    font-size: 15px;
    border: 3px solid #c8c5b6;
    background-color: #6a644d;
}
#btnlogin{
    font-family: 'Aldrich', sans-serif;
    color: #6a644d;
    margin-top: 10px;
    font-size: 15px;
    border: 3px solid #6a644d;
    background-color: #e5e1cd;
}

#linkusuario{

    font-family: 'Electrolize', sans-serif;
    color: #6a644d;



}